.logo{
    width: auto;
    height: 120px;
}


.icons{
    width: 25px;
    padding: 1%;
    text-align: center;
    }
.myPicture{
        width: 100px;
        height: auto;
        
        }
 .workGrid {
            display: grid;
            grid-template-columns: auto auto auto auto;
            grid-template-rows: 100px 300px;
            grid-template-columns: auto auto auto auto;
          }
 header{
            height: 200px;
            background-color: whitesmoke;
          }
  main{
    padding: 4%;
  }
      ul{
          border: solid 1px;
          width: 50%;
          float: right;
          font-size: 18px;
          }
      li{
        border:solid 1px green;
        display: inline-block;
      }
      a{
        border: solid 1px red;
      }
@media only screen and (max-width: 600px) {
            body {
              background-color: lightblue;
            }
          }
